header {
  background-color: #dedede;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  height: 50px;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  text-decoration: underline;
}

header nav {
  display: flex;
  gap: 20px;
}

body {
  margin: 0;
}

.pokeCard {
  width: 400px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

.pokemonImage {
  width: 100%;
  height: 200px;
}

.pokeInfos {
  display: flex;
  flex-direction: column;
}

.pokeInfo {
  display: flex;
  flex-direction: row;
}

.pokeinfo {
  display: flex;
  flex-direction: row;
}
