header {
  width: calc(100% - 40px);
  background-color: #dedede;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  text-decoration: underline;
}

header nav {
  display: flex;
  gap: 20px;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.pokeCard {
  padding: 20px;
  width: 300px;
  border: solid black 2px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.pokemonImage {
  width: 40%;
  padding: 0, 30%;
  align-self: center;
}

.pokeInfos {
  display: flex;
  flex-direction: column;
}

.pokeStat {
  display: flex;
  height: 20px;
}

#logoHeader {
  width: 40px;
}

.pokeInfo {
  display: flex;
  flex-direction: row;
}

#searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#searchBar input {
  border: 0;
}

#searchBar input:focus-visible {
  outline: 0;
}

#searchBar #loupe {
  height: 20px;
}

.pokemonsContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.pokemonCard {
  width: 150px;
  border: solid 2px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-height: 200px;
}

.pokemonCard p {
  text-decoration: none;
  color: black;
}
